parameters:
  git_dir: .
  bin_dir: bin
  tasks:
    phpcs:
      standard: PSR2
      ignore_patterns:
        - vendor
        - spec
      triggered_by:
        - php
    git_commit_message:
      matchers:
        - '/^(([A-Z]+\-\d+)|(#\d+)): [A-Z].+\./'
      case_insensitive: false
      multiline: false
    phpspec:
        format: pretty
        stop_on_failure: true
        verbose: true
    phpmd:
        exclude: ['spec', 'vendor']
        ruleset: ['naming']
        triggered_by: ['php']
    phpcpd:
        directory: './src'
        exclude: ['vendor', 'spec']
        names_exclude: []
        fuzzy: false
        min_lines: 5
        min_tokens: 70
        triggered_by: ['php']
    securitychecker:
        lockfile: ./composer.lock
        format: ~
        end_point: ~
        timeout: ~
        run_always: false
