{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "debug": "debug.log",
        "perMutator": "per-mutator.md",
        "badge": {
            "branch": "master"
        }
    },
    "testFramework":"phpspec",
    "tmpDir": "build"
}